{% load static %}
<!DOCTYPE html>
<html>
    <head>
            <title> Hotel booking </title>
            <link rel="stylesheet" href="{% static 'style.css' %}">
            <script src="{% static 'scrypt.js' %}"></script>
    </head>
    <body>
        <header>
            <div class="header-container">
                <h1>HotelEasy</h1>
                <div class="auth-buttons">
                    <a href="register.html" class="btn">Регистрация</a>
                    <a href="login.html" class="btn">Вход</a>
                </div>
            </div>
        </header>
        <nav>
            <a href="index.html">Главная</a>
            <a href="hotels.html">Отели</a>
            <a href="booking.html">Бронирование</a>
            <a href="about.html">О нас</a>
            <a href="contact.html">Контакты</a>
        </nav>
        <main>
        {% block content %}
        {% endblock content %}
        </main>
        <footer>
            &copy; 2025 HotelEasy
        </footer>
    </body>
</html>