{% extends "base.html" %}
{% load static i18n %}

{% block title %}
Registration | HotelBooking
{% endblock title %}

{% block content %}
<div class="form-container">
    {% if form.errors %}
    <div class="form-errors">
        {{ form.errors }}
    </div>
    {% endif %}
    <h2>{% trans 'Registration' %}</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="error-message">{{ field.errors|striptags }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <p>
            <button type="submit" class="btn">{% trans 'Save' %}</button>
        </p>
    </form>
</div>
{% endblock %}