{% extends "base.html" %}
{% load static i18n %}

{% block title %}
Edit Booking | HotelBooking
{% endblock title %}

{% block content %}
<div class="form-container">
    <h1>{% trans 'Edit booking information' %}</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="error-message">{{ field.errors|striptags }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn">{% trans 'Save' %}</button>
    </form>
</div>
{% endblock content %}