{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %} {# and user.is_staff #}
    <p>
        <a href="{% url 'add-hotel' %}">
            <button>New hotel</button>
        </a>
    </p>
    {% endif %}
    {% for hotel in hotels %}
        <a href="{% url 'details-page' hid=hotel.pk %}">
            <div style = "border: 1px solid black; margin-bottom: 10px;">
                <img src="{{hotel.images.0.image.url}}" width="400px">
                <p>{{hotel.name}}</p>
                <p>{{hotel.address}}</p>
                <p>{{hotel.star}}</p>
                <p>{{hotel.description}}</p>
                <p>{{hotel.services}}</p>
            </div>
        </a>
    {% endfor %}
{% endblock  %}